body {
  height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #05e8ba;
	background-image: linear-gradient(315deg, #e4d655 0%, #e36f3d 74%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
